body, html{
  height:100%;
}

body{
  margin: 0px;
  background-color: #444;
  font-size: 18px;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpDancersButton, .interactDancersButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}


@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotateZ(4deg);}
  50% {-webkit-transform: rotateZ(-4deg);}
  100% {-webkit-transform: rotateZ(4deg);}
}
@-moz-keyframes wiggle {
  0% {-moz-transform: rotateZ(4deg);}
  50% {-moz-transform: rotateZ(-4deg);}
  100% {-moz-transform: rotateZ(4deg);}
}
@-o-keyframes wiggle {
  0% {-o-transform: rotateZ(4deg);}
  50% {-o-transform: rotateZ(-4deg);}
  100% {-o-transform: rotateZ(4deg);}
}
@keyframes wiggle {
  0% {transform: rotateZ(4deg);}
  50% {transform: rotateZ(-4deg);}
  100% {transform: rotateZ(4deg);}
}

.img {
  position: absolute;

  -webkit-animation: wiggle 0.2s ease infinite;
  -moz-animation: wiggle 0.2s ease infinite;
  -o-animation: wiggle 0.2s ease infinite;
  animation: wiggle 0.2s ease infinite;
}

.mainContainer {
  border: 2px solid red;
  height: 96%;  /*to remove later*/

  background: url("img/a-groovy-looking-nightclub-dance-floor-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}